form {
	max-width: 900px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
  }
  input,
  textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	border: none;
	font-size: 25px;
	resize: vertical;
	font-family: 'Times New Roman', Times, serif;
  }
  
  input[type="submit"] {
	background-color: #cba05c;
	color: white;
	font-weight: bold;
	cursor: pointer;
	
  }
  
  input[type="submit"]:hover {
	background-color: #3e8e41;
  }
  
  h1{
	text-align: center;
  }h4{
	text-align: center;
	line-height: 1.5;
  }
  
  .container {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 2px solid #000;
	padding-right: 45px;
  }
  
  input {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border: 2px solid #000;
	border-radius: 5px;
  }
  textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border: 2px solid #000;
	border-radius: 5px;
  }
  #button{
	width: 105%;
  }#p{
	text-align: center;
  }
  